<!-- Core -->
<script src="{{"/assets/theme/vendor/jquery/jquery.min.js" | prepend: site.baseurl }}"></script>
<script src="/assets/theme/vendor/popper/popper.min.js"></script>
<script src="/assets/theme/vendor/bootstrap/bootstrap.min.js"></script>
{% comment %} <script src="/assets/theme/vendor/headroom/headroom.min.js"></script> {% endcomment %}
<!-- Optional JS -->
<script src="/assets/theme/vendor/onscreen/onscreen.min.js"></script>
<script src="/assets/theme/vendor/nouislider/js/nouislider.min.js"></script>
<script src="/assets/theme/vendor/bootstrap-datepicker/js/bootstrap-datepicker.min.js"></script>
<!-- Argon JS -->
<script src="/assets/theme/js/argon.js?v=1.0.1"></script>