<section class="section-profile-cover section-shaped my-0" style="background: url('/assets/theme/img/splash/cover.jpg') no-repeat center fixed; -webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;">
    <div class="container shape-container d-flex align-items-center py-lg" >
        <div class="col px-0">
          <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 text-center">
                <h2 class="heading-title lead text-white"> {{ page.title }} </h2>
                </div>
                </div>
                </div>
                </div>
    <!-- Circles background -->
    <div class="shape shape-style-1 shape-dark alpha-4">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      <span></span>
    </div>
    
    <!-- SVG separator -->
    <div class="separator separator-bottom separator-skew">
      <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
        <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </section>