<a name="explore"></a>
<div class="section">
        <div class="container">
            <div class="row">
                <div class="title-area">
                    <h2>Our Explorations</h2>
                    <div class="separator separator-danger">✻</div>
                    <p class="description">We make space mining approachable with clean energy</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            {% comment %} <i class="fa fa-code"></i> {% endcomment %}
                        </div>
                        <h3>Space AI</h3>
                        <p class="description">AI application in space industries</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            {% comment %} <i class="pe-7s-note2"></i> {% endcomment %}
                        </div>
                        <h3>Asteroid Resouces</h3>
                        <p class="description">Locate, analyze and target asteroids</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="info-icon">
                        <div class="icon text-danger">
                            {% comment %} <i class="pe-7s-music"></i> {% endcomment %}
                        </div>
                        <h3>Self-sustained Space Industry</h3>
                        <p class="description">Make everything in space</p>
                    </div>
                </div>
            </div>
        </div>
    </div>