<div class="section section-small section-get-started">
        <div class="parallax filter">
            <div class="image" style="background: rgb(61, 93, 122);">
            </div>
            <div class="container">
                <div class="title-area">
                    <a name="join-us"><h2 class="text-white">Join Us</h2></a>
                    <div class="separator line-separator">♦</div>
                    <p class="description"> Work with our diverse and intelligent team!</p>
                </div>

                <div class="button-get-started">
                    <a href="#gaia" class="btn btn-black btn-fill btn-lg">Contact Us</a>
                </div>
            </div>
        </div>
    </div>