<section class="section section-lg">
  <div class="container">
    <div class="row row-grid align-items-center">
      <div class="col-md-6 order-md-2">
        <div class="pr-md-5">
          <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                    <div class="d-flex px-3">
                      <div class="pl-4">
                         <h5 class="title text-info">Find Target Asteroids</h5>
                         <p>
                          <span class="badge badge-pill badge-info">Data Mining</span>
                          <span class="badge badge-pill badge-info">Community Support</span>
                         </p>
                      </div>
                    </div>
                </div>
              </div>
            <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                    <div class="d-flex px-3">
                      <div class="pl-4">
                         <h5 class="title text-info">Solar Furnace</h5>
                         <p>
                          <span class="badge badge-pill badge-info">AI Integrated Mirror Array</span>
                          <span class="badge badge-pill badge-info">Ground Experiment</span>
                         </p>
                      </div>
                    </div>
                </div>
              </div>
              <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                    <div class="d-flex px-3">
                      <div class="pl-4">
                         <h5 class="title text-info">Robotic Positioning System</h5>
                         <p>
                            <span class="badge badge-pill badge-info">Machine Learning</span>
                            <span class="badge badge-pill badge-info">Gamification Based Tagging</span>
                         </p>
                      </div>
                    </div>
                </div>
              </div>
        </div>
      </div>
      <div class="col-md-6 order-md-1">
        <div class="pr-md-5">
          <div class="icon icon-lg icon-shape icon-shape-info shadow rounded-circle mb-5">
            <i class="ni ni-key-25"></i>
          </div>
          <h3>How</h3>
          <p>We use solar energy to mine asteroid. Solar furnace enables in situ melting and forming for structural materials. We then utilze the space robots to replicate the whole facility and grow exponentially. </p>
          <div>
          <a href="{{"/topics" | prepend: site.baseurl }}" class="btn btn-info">Technologies</a>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>