
<section class="section section-lg">
    <a name="join-us"></a>
   <div class="container pt-lg pb-300">
     <div class="row text-center justify-content-center">
       <div class="col-lg-10">
         <h2 class="display-3 text-dark">Join Us</h2>
         <p class="lead text-dark">Work with our diverse and intelligent team!</p>
       </div>
     </div>
     <div class="row row-grid mt-5">
       <div class="col-lg-4">
         <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
           <i class="ni ni-settings text-primary"></i>
         </div>
         <h5 class="text-dark mt-3">Create</h5>
         <p class="text-dark mt-3">Create the future of space industries with us.</p>
       </div>
       <div class="col-lg-4">
         <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
           <i class="ni ni-compass-04 text-primary"></i>
         </div>
         <h5 class="text-dark mt-3">Connect</h5>
         <p class="text-dark mt-3">Connect with the awesome space-motivated professionals.</p>
       </div>
       <div class="col-lg-4">
         <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
           <i class="ni ni-spaceship text-primary"></i>
         </div>
         <h5 class="text-dark mt-3">Community</h5>
         <p class="text-dark mt-3">Join the academic and industrial community of space.</p>
       </div>
     </div>
   </div>
   
 </section>