<section class="section pb-0 bg-gradient-dark">
      <div class="container">
        <div class="row row-grid align-items-center">
          <div class="col-md-6 order-lg-2 ml-lg-auto">
            <div class="position-relative pl-md-5">
              
              <div class="d-flex px-3">
              <div>
                <div class="icon icon-lg icon-shape bg-gradient-white shadow rounded-circle text-primary">
                  <i class="ni ni-diamond text-primary"></i>
                </div>
              </div>
              <div class="pl-4">
                <h4 class="display-3 text-white">Why</h4>
                <p class="text-white">
                Human should and will take the next leap to become an interplanetary species. Building facilities in space is one of the key steps. Self-sustainable In-Situ Resource Utilization on asteroids lays down the foundations for space manufacturing.
                </p>
              </div>
            </div>

            </div>
          </div>
          <div class="col-lg-6 order-lg-1">
          <div class="card shadow shadow-lg--hover mt-5">
                <div class="card-body">
                    <div class="d-flex px-3">
                    
                    <div class="pl-4">
                        <h5 class="title text-warning">Spacefaring</h5>
                        <p>
                        <span class="badge badge-pill badge-warning">Space Manufacturing</span>
                        <span class="badge badge-pill badge-warning">Human Settlement in Space</span>
                        <span class="badge badge-pill badge-warning">Research and Development in Space</span>
                        </p>
                        
                    </div>
                    </div>
                </div>
                </div>
                <div class="card shadow shadow-lg--hover mt-5">
              <div class="card-body">
                <div class="d-flex px-3">
                  <div class="pl-4">
                    <h5 class="title text-success">Serving Earth</h5>
                    <p>
                    <span class="badge badge-pill badge-success">Improving Environment on Earth</span>
                    <span class="badge badge-pill badge-success">LEO Payloads and More</span>
                    <span class="badge badge-pill badge-success">Research the Unresearchable</span>
                    
                    </p>
                    
                  </div>
                </div>
              </div>
            </div>
            
            
            
          </div>
        </div>
      </div>
      <!-- SVG separator -->
      <div class="separator separator-bottom separator-skew zindex-100">
        <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1" xmlns="http://www.w3.org/2000/svg">
          <polygon class="fill-white" points="2560 0 2560 100 0 100"></polygon>
        </svg>
      </div>
    </section>